::ng-deep *{
    margin: 0px;
    padding: 0px;
}
::ng-deep :root{
    --body-color:#f7f7fa;
}
::ng-deep body{
    width: 100%;
    height: 100vh;
    background-color: var(--body-color) !important;
 
}
.dashboard-section{
    width: 78%;
    margin-top: 70px;
    margin-left: 282px;
    padding: 1px;
}

.dashboard-section .dynamic-component{
    width: 100%;
    margin: auto;
}