


<div class="recipt-page" id="fees-recipt">
    <div class="recipt-header">
        <h5 class="school-name">swaraj bal niketan heigh school badud</h5>
        <p class="school-location">Gram Badud, near Radha Krishna colony </p>
    </div>

    <div class="recipt-details-card">
        <h6 class="heading">fees recipt</h6>
        <div class="details-container">
            <div class="left">
                <p><span class="label">Student Name. : </span>SHUBHAM CHOUDHARY</p>
                <p><span class="label">Class Name. : </span>6th class</p>
            </div>
            <div class="mid">
                <p><span class="label">Enrollment No. : </span>0832CS201156</p>
                <p><span class="label">Father's Name. : </span>VASUDEV CHOUDHARY</p>
                <p><span class="label">Recipt No. : </span>222</p>
            </div>
            <div class="right">
                <p><span class="label">Session year. : </span>2022-2023</p>
                <p><span class="label">Date. : </span>22/08/2022</p>
            </div>
        </div>

    </div>
    <div class="school-fees-structure">
        <div class="header">
            <div class="headings">
                <strong>particulars </strong>
                <strong> ammount</strong>
            </div>

        </div>
        <div class="structure-lable-values">
            <div class="labels">
                <div class="label">GROWTH DEVELOPMENT FUND </div>
                <div class="label">TUITION FEES </div>
            </div>
            <div class="values">
                <div class="value">3000</div>
                <div class="value">10000</div>
            </div>
        </div>
    </div>

    <div class="recipt-fees-details">
        <div class="line"></div>
        <div class="dot-line"></div>
        <div class="recipt-payment-details">
            <div class="bank-details">
                <p class="check-no">cheq-no: UPI-Deven</p>
                <strong class="rupe-in-word"><span style="font-size: 1.1rem;font-weight: 400;">₹</span> In Words :- Six Thousands rupees</strong>
                <h6 class="upi-id">Choudhary-954@ybl</h6>
            </div>
            <div class="payment-details">
                <div class="total-recive-fees">Total Receivable <span>35000</span> </div>
                <div class="recived-by-check">received by check <span>13000</span></div>
                <div class="due-balance">Balance <span>23500</span>(due)</div>
            </div>
        </div>
    </div>

    <div class="recipt-footer">

            <div class="aprove">approved by</div>
            <div class="checked-by">checked by</div>
            <div class="preparedby">prepared by</div>
            <div class="reciversigne">receiver's sign</div>
      
    </div>
</div>



<button
  [useExistingCss]="true"
	printSectionId="fees-recipt"
	ngxPrint>print</button>


