

<div class="bus-route-section">
    <header><div class="heading">bus route</div></header>
    <div class="bus-routes-wrapper">
        <div class="bus-route-container">
            <div class="bus-route active-bus-route">
                <div class="bus-img"><img src="../../../../assets/photos/bus-route-img.png" alt="image is loading"></div>
                <div class="bus-details">
                    <div class="serving-location">home to collage</div>
                    <div class="collage-name">shree reva gurjar bal niketan sanawad</div>
                    <div class="bus-number">bus no. 13</div>
                    <div class="bus-time">time: 10:50:00</div>
                </div>
            </div>
            <div class="bus-route">
                <div class="bus-img"><img src="../../../../assets/photos/bus-route-img.png" alt="image is loading"></div>
                <div class="bus-details">
                    <div class="serving-location">collage to home</div>
                    <div class="collage-name">shree reva gurjar bal niketan sanawad</div>
                    <div class="bus-number">bus no. 13</div>
                    <div class="bus-time">time: 04:50:00</div>
                </div>
            </div>
        </div>
    </div>
   <!-- google-maps-demo.component.html -->
  
</div>