<section class="pay-fees-section">
    <div class="fees-form-container">
        <div class="heading">pay fees </div>
        <form (ngSubmit)="doSubmitPayment()">
            <div class="form-wrapper">
                <div class="form-field">
                    <div class="label">Fullname</div>
                    <input type="text" name="enrollment">
                </div>
                <div class="form-field">
                    <div class="label">Enrollment</div>
                    <input type="text" name="enrollment">
                </div>
                <div class="form-field">
                    <div class="label">Enrollment</div>
                    <input type="text" name="enrollment">
                </div>
                <div class="form-field">
                    <div class="label">Enrollment</div>
                    <input type="text" name="enrollment">
                </div>
                <div class="form-field">
                    <div class="label">Enrollment</div>
                    <input type="text" name="enrollment">
                </div>
                <div class="form-field">
                    <div class="label">Enrollment</div>
                    <input type="text" name="enrollment">
                </div>
            </div>

        </form>
    </div>
</section>




<!-- 


<div class="form-field">
    <label for="fullname">fullname</label>
    <input name="name" value="paymentPayload.name" [(ngModel)]="paymentPayload.name" type="text" id="fullname">
    <p *ngIf="allFieldsEmpty" class="validation-error">name is required</p>
    <p *ngIf="nameFieldEmpty" class="validation-error">name is required</p>
</div>
<div class="form-field">
    <label for="enroll">enrollment</label>
    <input name="enrollment" value="paymentPayload.enrollment" [(ngModel)]="paymentPayload.enrollment"  type="number" id="enroll">
    <p *ngIf="allFieldsEmpty" class="validation-error">enrollment number is required</p>
    <p *ngIf="enrollmentFieldEmpty" class="validation-error">enrollment number is required</p>
</div>
<div class="form-field">
    <label for="email">email</label>
    <input name="email" value="paymentPayload.email" [(ngModel)]="paymentPayload.email"  type="email" id="email">
    <p *ngIf="allFieldsEmpty" class="validation-error">email is required</p>
    <p *ngIf="emailFieldEmpty" class="validation-error">email is required</p>
</div>
<div class="form-field">
    <label for="fess">paying ammount</label>
    <input name="ammount" value="paymentPayload.ammount" [(ngModel)]="paymentPayload.ammount"  type="number" id="fees">
    <p *ngIf="allFieldsEmpty" class="validation-error">ammount is required</p>
    <p *ngIf="ammountFieldEmpty" class="validation-error">ammount is required</p>
    <p *ngIf="invalidAmountError" class="validation-error">amount is invalid please enter valid amount</p>
</div>
<div class="form-field">
    <button>pay</button>
</div> -->