@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin: px;
    padding: 0px;
}

::ng-deep :root{
    --nav-color:#0D9fbf;
    --heading-color:#0D9fbf;
    --white-color:#ffffff;
    --comman-font:'Poppins', sans-serif;
    --comman-btn:#fc8571;
    --comman-color:#0D9fbf;
    --label-color:#52525a;
    --field-error-color:#E91100;
}

.login-section{
    width: 100%;
    height: 100vh;
}
.login-section .login-wrapper{
    width: 330px;
    height: 280px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px; */
    padding: 10px 5px 10px 5px;
    border: 1px solid rgba(0, 0, 0,0.1);
}
.login-section .login-wrapper .heading{
    padding-left: 25px;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--comman-color);
    padding-top: 10px;
    margin-bottom: 5px;
}
.login-section .login-wrapper .login-box{
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 10px;
}
.login-section .login-wrapper .login-box .form-field{
    width: 95%;
    height: 35px;
    margin: auto;
    margin-top: 38px;
}
.login-section .login-wrapper .login-box .form-field:nth-child(1){
    margin-top: 10px;
}
.login-section .login-wrapper .login-box .form-field .label{
    font-size: 12px;
    padding-left: 3px;
    margin-bottom: 3px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: var(--label-color);

}
.login-section .login-wrapper .login-box .form-field input{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    outline: none;
}
.login-section .login-wrapper .login-box .form-field .hint{
    font-size: 0.7rem;
    margin-top: 0px;
    padding-left: 3px;
    color:var(--field-error-color);
    font-family: var(--comman-font);
}
.login-section .login-wrapper .login-box .form-field input:focus{
    border: 1px solid var(--comman-color);
}
.login-section .login-wrapper .login-box  .form-btn{
    margin-top: 40px;
    margin-left: 10px;
}
.login-section .login-wrapper .login-box  .form-btn button{
    width: 100px;
    height: 33px;
    background-color:var(--comman-color);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
}
.login-section .login-wrapper .login-box .message p{
    font-size: 14px;
    margin-top: 0px;
    margin-top: 5px;
    margin-left: 10px;
    color: var(--label-color);
    font-family: 'Poppins', sans-serif;
   
}
.login-section .login-wrapper .login-box .message p a{
    text-decoration: none;
    text-transform: capitalize;
    color:var(--comman-color) ;
    
    
}