


<section class="login-section">
    <div class="login-wrapper">
        <div class="heading">Login here</div>
        <div class="login-box">
          <form (ngSubmit)="doLogin()">
            <div class="form-field">
              <div class="label">email</div>
              <input type="text" name="email" [(ngModel)]="Loger.email">
              <p class="hint" *ngIf="emailIsEmpty">please enter email</p>
              <p class="hint" *ngIf="allFieldsEmpty">please enter email</p>
              <p class="hint" *ngIf="emailIsNotExist">email is invalid</p>
            </div>
            <div class="form-field">
              <div class="label">password</div>
              <input type="text" name="password" [(ngModel)]="Loger.password">
              <p class="hint" *ngIf="passwordIsEmpty">please enter password</p>
              <p class="hint" *ngIf="allFieldsEmpty">please enter password</p>
              <p class="hint" *ngIf="passwordIsInvalid">password is invalid</p>
            </div>
            <div class="form-btn">
              <button>signup</button>
            </div>
            <div class="message">
              <p>if you  have'nt account ? <a href="/signup">signin</a></p>
            </div>
          </form>
        </div>

    </div>
</section>