
<div class="side-bar">
    <div class="header">
        <div class="logo">
            <img src="../../../../assets/photos/usernabarlogo.png" alt="image is loading">
            <h6 class="logo-name">Swarja ecampus</h6>
        </div>
    </div>
    <div class="menus-part">
        <ul>
            <li class=" link-li active-menu">
                <div class="icon-div"><mat-icon class="icon">chrome_reader_mode</mat-icon></div>
                <div class="link" [routerLink]="['/student/dashboard/news-feed']">news feed</div>
            </li>
            <li class=" link-li">
                <div class="icon-div"><mat-icon class="icon ">person</mat-icon></div>
                <div class="link " [routerLink]="['/student/dashboard/profile']">profile</div>
            </li>
            <li class=" link-li" >
                <div class="icon-div"><mat-icon class="icon">people</mat-icon></div>
                <div class="link " [routerLink]="['/student/dashboard/teachers']">teachers</div>
            </li>
            <li class=" link-li">
                <div class="icon-div"><mat-icon class="icon">monetization_on</mat-icon></div>
                <div class="link ">
                    <div class="link-heading" mat-button [matMenuTriggerFor]="feespay">fees</div>
                    <mat-menu #feespay="matMenu">
                        <button mat-menu-item [routerLink]="['/student/dashboard/fees']">pay fees online</button>
                        <button mat-menu-item [routerLink]="['/student/dashboard/feesreceipt']">fees recipts</button>
                    </mat-menu>
                </div>
            </li>
            <li class=" link-li">
                <div class="icon-div"><mat-icon class="icon">directions_bus</mat-icon></div>
                <div class="link" [routerLink]="['/student/dashboard/bus-route']">bus route</div>
            </li>
            <li class=" link-li">
                <div class="icon-div"><mat-icon class="icon">quize</mat-icon></div>
                <div class="link" [routerLink]="['/student/dashboard/quize-test']">quizes</div>
            </li>
            <!-- <li class=" link-li">
                <div class="icon-div"><mat-icon class="icon">email</mat-icon></div>
                <div class="link" [routerLink]="['/student/dashboard/do-email']">send mail</div>
            </li> -->
            <li class=" link-li">
                <div class="icon-div"><mat-icon class="icon">logout</mat-icon></div>
                <div class="link" (click)="logoutStudent()">logout</div>
            </li>
        </ul>
    </div>
</div>

